.banners__pic-wrapper {
    position: relative;
    padding-bottom: 40px;

    @include desktop() {
        padding-bottom: 50px;
    }
}

.banners__pic {
    display: block;
    width: 100%;
    height: 260px;

    object-fit: cover;

    @include desktop() {
        height: 300px;
    }
}

.banners__button {
    position: absolute;
    z-index: 1;
    top: 200px;
    left: calc(50% - 140px);

    font-weight: 400;
    color: var(--theme-color);
    text-align: center;
    width: 280px;
    min-height: 40px;
    padding: 7px 18px;
    border-radius: 10px;
    background-color: $white;

    @include desktop() {
        top: 230px;
    }
}

.banners__description p {

    &:first-child {
        font-weight: 400;
        margin-bottom: 15px;

        @include desktop() {
            margin-bottom: 30px;
        }
    }

    &:last-child {
        padding-bottom: 40px;

        @include desktop() {
            padding-bottom: 50px;
        }
    }
}

.banners__item {
    max-height: 0;
    overflow: hidden;

    &.banners__item--current {
        max-height: 3500px;
        transition: max-height 0.7s ease-in;

        @include desktop() {
            max-height: 2000px;
        }
    }
}