.breadcrumb {
    @include mobile() {
        display: none;
    }
}

.breadcrumb__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.breadcrumb__item:not(:first-child) {
    padding-left: 12px;
}

.breadcrumb__item:not(:last-child) {
    position: relative;
    padding-right: 11px;

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 16px;
        right: 0;
        top: calc(50% - 8px);
        background-color: $black;
    }
}

.breadcrumb__item a {
    color: $black-50;
}