.characteristics {
    h2 {
        font-weight: 400;
        margin-bottom: 15px;

        &:not(:first-child) {
            margin-top: 40px;
        }
    }

    ul {
        list-style: disc;
        padding-left: 22px;
    }

    ol {
        padding-left: 22px;
    }

    ul > li:not(:last-child) {
        margin-bottom: 15px;
    }

    ol {
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 15px;
    }

    @include from(1600px) {
        h2 {
            margin-bottom: 20px;

            &:not(:first-child) {
                margin-top: 50px;
            }
        }

        ul > li:not(:last-child) {
            margin-bottom: 20px;
        }

        ol {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }
    }
}